@tablet-width: 768px;

@desktop-width: 1300px;

@mobile-width-only: 767px;

@retina-dpi: 144dpi;

@retina-dppx: 1.5dppx;

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.type-link {
  text-decoration: none;
  color: inherit;
}

.btn--green {
  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .wrapper {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    max-width: 1300px;
    padding: 0 40px;
  }
}
