@tablet-width: 768px;

@desktop-width: 1300px;

.wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.type-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: @tablet-width) {
  .wrapper {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    max-width: 1300px;
    padding: 0 40px;
  }
}
