.page-header{
  background-color:#ffffff;
  margin-bottom: 22px;
}

.page-header__top-box {
  display:flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e6e6e6;
  padding-top: 11px;
  padding-bottom: 16px;
}

.page-header__toggle {
  background-color:#222222;
  outline: none;
  border: none;

  width:25px;
  height: 2px;

  cursor: pointer;
  &::before,
  &::after {
    display: block;
    width: 25px;
    height: 2px;

    content: "";
    background-color: #222222;
  }
  &::before {
    transform: translate(-6px, -10px);
  }
  &::after {
    transform: translate(-6px, 6px);
  }
}
