.preview {
  font-family: "Oswald Regular", Arial, Helvetica, sans-serif;
  color: #ffffff;

  background: url(../img/index-background-mobile@1x.jpg) no-repeat top center;
}

.preview__wrapper {
  text-align: center;
}

.preview__text-block {
  padding-top: 29px;
  padding-bottom: 25px;

  text-align: center;
}

.preview__text-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  margin: 0;
  padding-bottom: 10px;
}

.preview__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.preview__link {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #68b738;
}
