@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0;
}

@import "blocks/header";
@import "classes";
@import "blocks/main-nav";
@import "blocks/preview";
@import "blocks/programms";
@import "blocks/benefits";
@import "blocks/page-footer";
@import "blocks/products";
@import "blocks/example";
@import "blocks/contacts";
@import "blocks/form";
@import "blocks/additional";
